@model IEnumerable<CalculoHonorario.App.ViewModels.HonorarioViewModel>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorHonorario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProLaboreLiquido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fgts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Irpf)
            </th>            
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center align-middle">
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorHonorario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProLaboreLiquido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fgts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inss)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Irpf)
                </td>                
                <td class="text-right">
                    <a class="btn btn-info" asp-controller="Honorarios" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span> </a>
                    <a class="btn btn-danger" asp-controller="Honorarios" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span> </a>
                </td>
            </tr>
        }
    </tbody>
</table>